@import "../variables.scss";


body {
  background: $colorBody;
  /* (#482b41, #06030a); */
  color: $colorTextNav;
  font-family: 'Playfair Display', serif;
}

@mixin button{
  background: $gradientButton;
  border-radius: 5px;
  border: 1px solid #cdc4c8;
  color: #cdc4c8;
  height: 40px;
  width: 160px;
  font-size: $fontSizeButton;
  cursor: pointer;
  :focus{
    border: 1px solid #b82d2b;
  }
}

header {
  text-align: center;

  .container-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: $fontSizeNav;
    font-family: "Victor Mono", monospace;
  } 

  a{
    text-decoration: none;
    color: $colorTextNav;
    padding: 5px;
  }

  a:hover{
    background-color: $hoverA;
    border-radius: 5px;
    padding: 5px;
    color: $colorTextNav;
  }
  img{
    height: 200px
  }
  button{
    @include button;
  }

  
    .logo-metamask{
      height: 40px;
    }
  }



main{
  .nftHome{
    width: $sizeNftWidth;
    height: $sizeNftheith;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 500px;
  }

  .titleOpere{
    font-size: 50px;
  }

  .animated-img{
    width: 100%;
    border-radius: 10px;
    animation: rotar 10s linear infinite;
    filter: drop-shadow(0px 7px 21px $hoverA);
  }

  .button-style {
    @include button;
  }

  .card{
    background-color: $backgroundCard;
    width: 18rem;

    .img-card{
      height: 250px;
      border-radius: 10px;
      padding: 10px;
    }

    .heartIcon{
      height: 20px;
    }

    .like{
      background-color: $backgroundCard;
      border:none
    }
  }
  .titleColection{
    font-size: 35px
  }
  .buyNow{
    @include button();
  }

}

@keyframes rotar{
    from{
      width: 30rem;
      height: 30rem;
  }
  50%{
      width: 20rem;
      height: 20rem;
  }
  to{
      width: 25rem;
      height: 25rem;
  }
}





// Coneccion a la wallet 
  .select-modal{

    display: flex;
    flex-direction: row;
    height: calc(100% - 16px);
    overflow: hidden;
    position: fixed;
    right: 8px;
    top: 8px;
    z-index: 1030;

  .container-close{    
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    padding: 24px calc(28px) 24px 14px;
    border-radius: 20px 0px 0px 20px;
    transition: background-color 250ms ease 0s, margin 250ms ease 0s;

    .svg-style{
      stroke: rgb(125, 125, 125);
    }
  }

  .conect-wallet{
    overflow: hidden;
    height: 100%;
    scrollbar-gutter: stable;
    overscroll-behavior: contain;
    border-radius: 12px;
    background-color: red;

    .contaner-title-wallet{
      width: 100%;
      display: flex;
      padding: 0px;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      margin: 0px 0px 16px;
      min-width: 0px;

      .btn-tools{
        background-color: rgb(255, 255, 255);
        transition: width 125ms ease-in-out 0s;
        border-radius: 12px;
        display: flex;
        padding: 0px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        height: 32px;
        width: 32px;
        color: rgb(125, 125, 125);
        border: none;
        outline: none;
        .tittle-tools{
          width: 24px;
          height: 24px;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    

    .container-wallets{
      border: 1px solid $colorTextNav;
      border-radius: 10px;
    }
  }
}

footer{

  h5{
    font-weight:$footerTitle;
  }

  li{
    color:$colorTextNav
    a{
      text-decoration: none;
      color:$colorTextNav
    }
  }
  img{
    height: 100px;
  }
}


