@import "../variables.scss";


body {
  background: $colorBody;
  /* (#482b41, #06030a); */
  color: $colorTextNav;
  font-family: 'Playfair Display', serif;
}

@mixin button{
  background: $gradientButton;
  border-radius: 5px;
  border: 1px solid #cdc4c8;
  color: #cdc4c8;
  height: 40px;
  width: 160px;
  font-size: $fontSizeButton;
  cursor: pointer;
  :focus{
    border: 1px solid #b82d2b;
  }
}

header {
  text-align: center;

  .container-styles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: $fontSizeNav;
    font-family: "Victor Mono", monospace;
  } 

  a{
    text-decoration: none;
    color: $colorTextNav;
    padding: 5px;
  }

  a:hover{
    background-color: $hoverA;
    border-radius: 5px;
    padding: 5px;
    color: $colorTextNav;
  }
  img{
    height: 150px
  }
  button{
    @include button;
  }  
}



main{
  .nftHome{
    width: $sizeNftWidth;
    height: $sizeNftheith;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 500px;
  }

  .titleOpere{
    font-size: 50px;
  }

  .animated-img{
    width: 100%;
    border-radius: 10px;
    animation: rotar 10s linear infinite;
    filter: drop-shadow(0px 7px 21px $hoverA);
  }

  .button-style {
    @include button;
  }

  .card{
    background-color: $backgroundCard;
    width: 18rem;

    .img-card{
      height: 250px;
      border-radius: 10px;
      padding: 10px;
    }

    .heartIcon{
      display: inherit;
      height: 20px;
      width: 20px;
    }
    .heart{
      display: none;
    }

    .like{
      background-color: $backgroundCard;
      border:none
    }
  }
  .titleColection{
    font-size: 35px
  }
  .buyNow{
    @include button();
  }
  // Coneccion a la wallet 
  .select-modal{
    display: none;
    flex-direction: row;
    height: calc(100% - 16px);
    overflow: hidden;
    position: fixed;
    right: 8px;
    top: 8px;
    z-index: 1030;

    .container-close{    
      text-decoration: none;
      cursor: pointer;
      height: 100%;
      padding: 24px calc(28px) 24px 14px;
      border-radius: 20px 0px 0px 20px;
      transition: background-color 250ms ease 0s, margin 250ms ease 0s;

      .svg-style{
        stroke: rgb(125, 125, 125);
      }
    }

    .conect-wallet{
      overflow: hidden;
      height: 100%;
      scrollbar-gutter: stable;
      overscroll-behavior: contain;
      border-radius: 12px;
      // background: $colorBody;
      background-color: rgb(255, 255, 255);
      margin-right: 0px;
      width: 390px;
      display: flex;
      flex-flow: column;
      padding: 14px 16px 16px;
      color: black;

      .contaner-title-wallet{
        width: 100%;
        display: flex;
        padding: 0px;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        margin: 0px 0px 16px;
        min-width: 0px;
        .tittle{
          box-sizing: border-box;
          margin: 0px;
          min-width: 0px;
          font-weight: 485;
          font-size: 16px;
          line-height: 24px;
        }
        .btn-tools{
          background-color: rgb(255, 255, 255);
          transition: width 125ms ease-in-out 0s;
          border-radius: 12px;
          display: flex;
          padding: 0px;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          height: 32px;
          width: 32px;
          color: rgb(125, 125, 125);
          border: none;
          outline: none;
          .tittle-tools{
              width: 24px;
              height: 24px;
              margin: auto;
              display: flex;
              align-items: center;
              justify-content: center;
          }

      }
      }
    
    .container-body-modal{
      display: grid;
      grid-auto-rows: auto;
      row-gap: 16px;

      .wallet{
        display: grid;
        gap: 2px;
        border-radius: 12px;
        overflow: hidden;

        .container-wallets{
          border-radius: 10px;
          align-items: stretch;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          position: relative;
          width: 100%;
          background-color: rgb(249, 249, 249);

          .btn-wallet{
            -webkit-box-align: center;
            align-items: center;
            background-color: unset;
            border: none;
            cursor: pointer;
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
            -webkit-box-pack: justify;
            justify-content: center;
            // gap:40px;
            opacity: 1;
            padding: 18px;
            transition: all 125ms ease 0s;

            .logo-metamask{
              height: 40px;
              border: 1px solid rgba(34, 34, 34, 0.07);
              border-radius: 12px;
            }
            .name-wallet{
              display: flex;
              flex-flow: row;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: center;
              justify-content: center;
              color:black;
              font-size: 16px;
              font-weight: 535;
              padding: 0px 8px;
            }
          }
          .container-desclamer{
            box-sizing: border-box;
            margin: 0px;
            min-width: 0px;
            font-weight: 485;
            font-size: 14px;
          }
        }
      }
  
    }
  
  }
  }
}

@keyframes rotar{
    from{
      width: 30rem;
      height: 30rem;
  }
  50%{
      width: 20rem;
      height: 20rem;
  }
  to{
      width: 25rem;
      height: 25rem;
  }


  
}







footer{

  h5{
    font-weight:$footerTitle;
  }

  li{
    color:$colorTextNav
    a{
      text-decoration: none;
      color:$colorTextNav
    }
  }
  img{
    height: 100px;
  }
}


