body {
  background: linear-gradient(to right, #482b41, #06030a);
  /* (#482b41, #06030a); */
  color: #cdc4c8;
  font-family: "Inter", sans-serif;
  font-family: "Victor Mono", monospace;
}

.container-header {
  height: 100px;
  text-align: center;
}
.container-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #cdc4c8;
}

a:hover {
  background-color: rgb(#b82d2b, 0.2);
  border-radius: 5px;
  padding: 5px;
  color: #cdc4c8;
}

.button-contact {
  background: linear-gradient(to right, #482b41, #a536b6);
  border-radius: 5px;
  border: 1px solid #cdc4c8;
  color: #cdc4c8;
  height: 40px;
  width: 100px;
  font-size: 15px;
}

.button-contcat:focus {
  border: 1px solid #b82d2b;
}
